* {
   font-family: 'Fira Sans', sans-serif; 
   
}
body{
   background-color: #e5e5e5 !important;
}

.filter-div {
   display: flex;
   width:100%;
}
select.form-control {
   font-size: 16px;
}
#googleMap {
   width: 100%;
   height: 550px;
}

#baggee {
   font-size: 12px;
   margin-right: 10px;
}
.badge-wrapper{
  display: flex;
  margin-top: 30px;
}
.badge-popup{
   margin-right: 10px;
}
.badge-real{
   margin-top: 0;
   
}

.pagi-nation{
   margin-top: 10px; 
}
.badge-buttons{
   margin-left:auto; 
   margin-right:0;
}

.badge-buttonss{
   float: right;
}

.card-body > h6 {
   display: contents;
}

h5.card-title.title{
   font-size: 17px;
   
   font-weight: 400;
}
p.card-text.descr{
   font-size: 15px;
  
   font-weight: 300;
}


@media (max-width: 1200px){
   .filter-div {
      display: flex;
      width:100%;
      
   }
   select.form-control  {
      font-size: 14px;
      
   }
   #googleMap {
      height: 450px;
   }
   h5.card-title.title{
      font-size: 17;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 15;
      font-weight: 300;
   }
}

@media (max-width: 992px){
   .filter-div {
      display: flex;
      width:100%;
      
   }
   select.form-control  {
      font-size: 14px;
   }
   
   .gm-style .gm-style-iw-c {
      max-width: 500px;
   }

   #googleMap {
      height: 400px;
   }
   h5.card-title.title{
      font-size: 17px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 15px;
      font-weight: 300;
   }
}

@media (max-width: 768px){
   .filter-div {
      display: block;
      width:100%;
      
   }
   select.form-control  {
      font-size: 14px;
   }
   
   
   #googleMap {
      height: 400px;
   }
   h5.card-title.title{
      font-size: 16px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 14px;
      font-weight: 300;
   }
}
@media (max-width: 576px){
   .filter-div {
      display: block;
      width:100%;
      
   }
   select.form-control  {
      font-size: 14px;
   }
   
   .badge-buttonss{
      float: right;
    }
   #googleMap {
      height: 400px;
   }
   h5.card-title.title{
      font-size: 16px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 14px;
      font-weight: 300;
   }
   .badge-wrapper{
      display: block;
      margin-top: 30px;
    }
}
@media (max-width: 486px){
   .filter-div {
      display: block;
      width:100%;
      
   }
   select.form-control  {
      font-size: 13px;
   }
   
   
   #googleMap {
      height: 400px;
   }
   h5.card-title.title{
      font-size: 15px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 13px;
      font-weight: 300;
   }
}
@media (max-width: 332px){
   .filter-div {
      display: block;
      width:100%;
      
   }
   select.form-control  {
      font-size: 12px;
   }

   .badge.badge-primary.project-sector{
      font-size: 60%;
   }
   
   #googleMap {
      height: 400px;
   }
   h5.card-title.title{
      font-size: 15px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 13px;
      font-weight: 300;
   }
}

@media (max-width: 276px){
   .filter-div {
      display: block;
      width:100%;
      
   }
   select.form-control  {
      font-size: 11px;
   }
   
   .badge.badge-primary.project-sector{
      font-size: 55%;
   }
   
   #googleMap {
      height: 350px;
   }
   h5.card-title.title{
      font-size: 13px;
      font-weight: 400;
   }
   p.card-text.descr{
      font-size: 11px;
      font-weight: 300;
   }
   
}
   
